{
  "openapi": "3.1.0",
  "info": {
    "title": "Hood Vs Hood API",
    "version": "1.0.0",
    "description": "Ambient match-record data for Hood Vs Hood, a browser fighting game built on OnChainHoodies (https://onchainhoodies.xyz). Tracks how many times each Hoodie token ID has fought and won/lost in-game. Unauthenticated by design, same trust model as the rest of the game (no wallet writes, nothing on-chain) - this is a fun social signal, not a verified competitive record. Source: https://github.com/Pixelpushin/hoodies-fight"
  },
  "servers": [{ "url": "https://hoodie.wtf" }],
  "paths": {
    "/api/hoodie/{tokenId}/stats": {
      "get": {
        "operationId": "getHoodieStats",
        "summary": "Get a Hoodie's in-game fight record",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "minimum": 0, "maximum": 5999 }
          }
        ],
        "responses": {
          "200": {
            "description": "Fight record for one Hoodie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenId": { "type": "integer" },
                    "wins": { "type": "integer" },
                    "losses": { "type": "integer" },
                    "matches": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid tokenId" }
        }
      }
    },
    "/api/matches/recent": {
      "get": {
        "operationId": "getRecentMatches",
        "summary": "Get the most recent completed matches across all Hoodies",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent match feed, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "One entry per completed match (not per round/side) - winnerId/loserId is each either a real tokenId (only when that side's fighter was a wallet-verified owner, not a randomly-sampled opponent) or null.",
                        "properties": {
                          "winnerId": { "type": ["integer", "null"] },
                          "loserId": { "type": ["integer", "null"] },
                          "ts": { "type": "integer", "description": "Unix ms timestamp" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/leaderboard": {
      "get": {
        "operationId": "getLeaderboard",
        "summary": "Get the top Hoodies by win count",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked fighters, highest win count first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fighters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tokenId": { "type": "integer" },
                          "wins": { "type": "integer" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/rivalry/{tokenIdA}/{tokenIdB}": {
      "get": {
        "operationId": "getRivalry",
        "summary": "Get the head-to-head win record between two Hoodies",
        "description": "Order of tokenIdA/tokenIdB in the path doesn't matter - both orderings resolve to the same underlying record.",
        "parameters": [
          {
            "name": "tokenIdA",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "minimum": 0, "maximum": 5999 }
          },
          {
            "name": "tokenIdB",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "minimum": 0, "maximum": 5999 }
          }
        ],
        "responses": {
          "200": {
            "description": "Head-to-head win record for this pairing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenIdA": { "type": "integer" },
                    "tokenIdB": { "type": "integer" },
                    "wins": {
                      "type": "object",
                      "description": "Win count for this pairing keyed by token ID (as a string)"
                    },
                    "matches": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid tokenIdA/tokenIdB" }
        }
      }
    },
    "/api/match-result": {
      "post": {
        "operationId": "postMatchResult",
        "summary": "Record the outcome of one completed match",
        "description": "Called by the game client itself once, when a whole match (not a single round) ends. Unauthenticated and not designed to resist abuse - the server trusts whatever the caller sends and does not itself verify wallet ownership, so treat resulting stats as an ambient/fun signal rather than a verified record. The game client only ever sends a non-null side when that side's fighter was wallet-verified in the UI (a randomly-sampled opponent never gets attributed a result), but nothing stops a direct API caller from sending any value in range. At least one of winnerId/loserId must be non-null. When both are present this also updates that pairing's head-to-head record (see /api/rivalry/{tokenIdA}/{tokenIdB}), and a non-null winnerId also updates the leaderboard (see /api/leaderboard). All writes for one call land atomically (or not at all) - there's no partial/torn write.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "winnerId": { "type": ["integer", "null"], "minimum": 0, "maximum": 5999 },
                  "loserId": { "type": ["integer", "null"], "minimum": 0, "maximum": 5999 }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Recorded" },
          "400": { "description": "Invalid body" },
          "502": { "description": "Could not record right now" }
        }
      }
    }
  }
}
